// ====================
// Components
// ====================

%glyphicon {
  display: inline-block;
  font-family: $ff-icon;
  font-style: normal;
  font-weight: 400;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
