// —————————————————————————
//     Typography
// —————————————————————————

// Size
$fs-root:           62.5%;
$fs-large:          2.4rem;
$fs-medium:         1.8rem;
$fs-small:          1.4rem;

// Family
$ff-primary:        'FuturaLTBook';
$ff-title:          'FuturaLTHeavy';
$ff-icon:           'Glyphicons Halflings';

// Style
$f-italic:          italic;
$f-normal:          normal;

// Weigth
$fw-light:          300;
$fw-semi-bold:      600;

// Custom Font Face
@font-face {
  font-family: 'Xilosa';
  src: url('http://www.fontsaddict.com/fontface/xilosa.ttf');
}

@font-face {
    font-family: 'FuturaLTHeavy';
    src: url('../../fonts/futuralt-heavy.eot');
    src: url('../../fonts/futuralt-heavy.eot') format('embedded-opentype'),
         url('../../fonts/futuralt-heavy.woff2') format('woff2'),
         url('../../fonts/futuralt-heavy.woff') format('woff'),
         url('../../fonts/futuralt-heavy.ttf') format('truetype'),
         url('../../fonts/futuralt-heavy.svg#FuturaLTHeavy') format('svg');
}

@font-face {
    font-family: 'FuturaLTBook';
    src: url('../../fonts/futuralt-book.eot');
    src: url('../../fonts/futuralt-book.eot') format('embedded-opentype'),
         url('../../fonts/futuralt-book.woff2') format('woff2'),
         url('../../fonts/futuralt-book.woff') format('woff'),
         url('../../fonts/futuralt-book.ttf') format('truetype'),
         url('../../fonts/futuralt-book.svg#FuturaLTBook') format('svg');
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../../fonts/glyphicons-halflings-regular.eot");
  src: url("../../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/glyphicons-halflings-regular.woff") format("woff"),
  url("../../fonts/glyphicons-halflings-regular.ttf") format("truetype"),
  url("../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
