<header class="action-bar">
  <a href="#/" class="app-icon action up" data-transition="pop">
    <i class="icon-up-button"></i>
    <i class="icon-fries"></i>
  </a>

  <h1 class="title">{{title}}</h1>
</header>

<form action="javascript:;" class="inset">
  <label for="" class="block-label">Email</label>
  <input type="email" name="email" placeholder="Email" class="input-text">

  <div class="form-actions">
    <a onClick="shortToast();" class="btn btn-block" id="show-toast">
      Recuperar Senha
    </a>
  </div>
</form>
