<header class="action-bar">
  <a href="#/receitas/" class="app-icon action">
    <i class="icon-up-button"></i>
    <i class="icon-fries"></i>
  </a>

  <h1 class="title">{{title}}</h1>
</header>

<section class="content-user">
  <h3 class="saudacao">{{saudacao}}</h3>

  <figure class="img-user">
    <img src="https://avatars2.githubusercontent.com/u/2343288?v=3&s=128" alt="Thulio">
  </figure>

  <ul class="list inset">
    <li class="list-divider">Opções de conta</li>
    <li class="list-item-single-line selectable">
      <a href="#/user/adicionar-receita" title="Adicionar Receita">Adicionar Receita</a>
    </li>

    <!-- <li class="list-item-single-line selectable">
      <a href="#/user/minhas-receitas" title="Minhas Receitas">Minhas Receitas</a>
    </li> -->

    <!-- <li class="list-item-single-line selectable">
      <a href="#/user/receitas-favoritas" title="Receitas Favoritas">Receitas Favoritas</a>
    </li> -->
  </ul>

  <a href="#/" title="" class="btn btn-block center">Sair</a>

</section>
