<header class="action-bar">
  <a href="#" class="app-icon action">
    <i class="icon-fries"></i>
  </a>

  <h1 class="title">{{title}}</h1>
</header>

<section class="content-user">
  <a href="#/" title="" class="btn">Adicionar Receita</a>
  <a href="#/" title="" class="btn">Minhas Receitas</a>
  <a href="#/" title="" class="btn">Receitas Favoritas</a>
  <a href="#/" title="" class="btn">Receitas Aprovadas</a>
  <a href="#/" title="" class="btn">Receitas Avaliadas</a>

  <a href="#/" title="" class="btn">Alterar Senha</a>
  <a href="#/" title="" class="btn-small">Sair</a>
</section>
